<form target="_blank" method="POST" action="/fetch_all">
  <button
    type="submit"
    class="border px-3 text-sm font-medium py-1 rounded-lg bg-gradient-to-b from-white to-gray-100 hover:to-gray-200 focus:outline-none focus:shadow-outline"
  >
    Sync all repos from origin
  </button>
</form>

<div class="my-6">
  <h1 class="text-xl font-semibold">Repositories</h1>
  {{#eq order_by 'name'}}
  <a href="?" class="text-sm underline">order by last updated</a>
  {{else}}
  <a href="?by-name=yep" class="text-sm underline">order by name</a>
  {{/eq}}
</div>

<ul>
  {{#each items as |item|}}
  <li>
    <a
      href="/{{ repo_name item.repo }}"
      class="mb-3 block border rounded px-3 py-2 shadow-none duration-200 hover:shadow-lg ease-in-out transition-all transform hover:translate-x-1"
    >
      <div class="text-blue-500 text-lg font-semibold">
        {{ repo_name item.repo }}
      </div>
      <div class="text-sm text-gray-600">
        last updated {{ dateUTC (call item.commit "date") }}
      </div>
    </a>
  </li>
  {{/each}}
</ul>
